<ion-content class="ion-padding" [fullscreen]="true">

  <!-- Lista de Armaduras -->
  <div *ngIf="armorsListBase.length > 0" class="container mt-4">
    <div>
      <button *ngFor="let r of [1,2,3,4,5,6,7,8,9,10,11,12]" class="btn btn-secondary mx-1 custom-btn"
        (click)="filterByRarity(r)">
        Rareza {{ r }}
      </button>
    </div>
    <h2 class="text-center">Armaduras</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Rareza</th>
          <th>Defensa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of filteredArmors">
          <td>
            <a (click)="displayWiki(v)" style="text-decoration: none; color: inherit;">
              {{ v?.nombre }}
            </a>
          </td>
          <td>{{ v?.rareza }}</td>
          <td>{{ v?.tipo }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="mostrarWiki">
    <app-wiki-armor [armor]="armorWiki"></app-wiki-armor>
  </div>

</ion-content>