<ion-content class="ion-padding" [fullscreen]="true">
  <!-- Contenedor del fondo -->
  <div class="background-container">
    <img src="assets/images/backgrounds/background.jpg" alt="Monster Hunter Background">
  </div>

  <div class="content-container">
    <!-- Lista de set de Armaduras -->
    <div *ngIf="armorsSetList.length > 0 && !mostrarWiki" class="container mt-4">
      <div class="d-flex justify-content-center mb-3">
        <button *ngFor="let r of ['LR','HR','MR']" [class.selected]="selectedRange === r"
          class="btn btn-secondary mx-1 custom-btn" (click)="filterByRange(r)">
          Rango {{ r }}
        </button>
      </div>
      
      <div class="armor-title-container">
        <div class="armor-title">
          <h2 class="text-center">Set de armaduras</h2>
        </div>
      </div>

      <div class="table-container">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Rango</th>
              <th>Monster</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let v of filteredArmors">
              <td>
                <a class="hover-effect" (click)="displayWiki(v)" style="text-decoration: none; color: inherit;">
                  <img [src]="'assets/images/monsters/' + v?.monster + '.png'" width="30"
                    style="border-radius: 8px; vertical-align: middle;" (error)="handleImageError($event)">
                  <span style="margin-left: 10px;">{{ v?.nombre }}</span>
                </a>
              </td>
              <td>{{ v?.rango }}</td>
              <td>{{ v?.monster || '---'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="mostrarWiki">
      <app-wiki-armor-set [armorSet]="armorSetWiki" (closeWiki)="closeWiki()"></app-wiki-armor-set>
    </div>
  </div>

</ion-content>