<ion-content class="ion-padding" [fullscreen]="true">
    <!-- Contenedor que muestra una imagen de fondo a pantalla completa con padding -->
  <div class="background-container">
    <img src="assets/images/backgrounds/background.jpg" alt="Monster Hunter Background">
  </div>
  <!-- <div class="background-container-mantenance">
    <img src="assets/images/backgrounds/background.jpg" alt="Monster Hunter Background">
    <div class="overlay-message">
      <h1>La web se encuentra en mantenimiento</h1>
      <p>Estamos mejorando la infraestructura en AWS EC2</p>
    </div>
  </div> -->

</ion-content>
