<ion-content class="ion-padding" [fullscreen]="true">
    <!-- Contenedor que muestra una imagen de fondo a pantalla completa con padding -->
  <div class="background-container">
    <img src="assets/images/backgrounds/background.jpg" alt="Monster Hunter Background">
  </div>

  <!-- Mensaje de servicio deshabilitado -->
  <div class="status-message">
    <h2>Servicio temporalmente deshabilitado</h2>
    <p>El servicio backend está desactivado temporalmente por motivos de mantenimiento, costes y el bajo uso actual de la web.
    <p>Puede visitar el repositorio en <a href="https://github.com/JuanCarlos92/TFG.git">GitHub</a></p>
  </div>
</ion-content>