<ion-content class="ion-padding" [fullscreen]="true">

  <div *ngIf="!mostrarWiki">
    <!-- Grid de tarjetas Tipos de armas -->
    <div class="row justify-content-center">
      <div *ngFor="let weaponTipo of weaponstipos" class="col-3 col-md-2 col-lg-1 text-center my-0 px-0">
        <app-card-weapontype [weaponTipo]="weaponTipo"
          (weaponNameSelected)="weaponTypeNameSelected($event)">
        </app-card-weapontype>
      </div>
    </div>

    <!-- titulo de la tabla (nombre del tipo) -->
    <div *ngIf="selectedWeaponTipo" class="weapon-details mt-4">
      <h2 style="text-align: center;">{{ selectedWeaponTipo.tipoArma }}</h2>
    </div>

    <!-- Lista de armas -->
    <div id="listaArmas" *ngIf="infoWeaponTipoFiltrado?.weaponBaseDTO?.length ?? 0 > 0" class="container mt-4">
      <div>
        <button class="btn btn-secondary mx-1 custom-btn" (click)="clickRareza(1)">1</button>
        <button class="btn btn-secondary mx-1 custom-btn" (click)="clickRareza(2)">2</button>
        <button class="btn btn-secondary mx-1 custom-btn" (click)="clickRareza(3)">3</button>
        <button class="btn btn-secondary mx-1 custom-btn" (click)="clickRareza(4)">4</button>
        <button class="btn btn-secondary mx-1 custom-btn" (click)="clickRareza(5)">5</button>
        <button class="btn btn-secondary mx-1 custom-btn" (click)="clickRareza(6)">6</button>
        <button class="btn btn-secondary mx-1 custom-btn" (click)="clickRareza(7)">7</button>
        <button class="btn btn-secondary mx-1 custom-btn" (click)="clickRareza(8)">8</button>
        <button class="btn btn-secondary mx-1 custom-btn" (click)="clickRareza(9)">9</button>
        <button class="btn btn-secondary mx-1 custom-btn" (click)="clickRareza(10)">10</button>
        <button class="btn btn-secondary mx-1 custom-btn" (click)="clickRareza(11)">11</button>
        <button class="btn btn-secondary mx-1 custom-btn" (click)="clickRareza(12)">12</button>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Rareza</th>
            <th>Ataque</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of infoWeaponTipoFiltrado?.weaponBaseDTO">
            <td>
              <a (click)="displayWiki(v)" style="text-decoration: none; color: inherit;">
                {{ v?.nombre }}
              </a>
            </td>
            <td>{{ v?.rareza }}</td>
            <td>{{ v?.ataque }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="mostrarWiki">
    <app-wiki-weapon [weapon]="weaponWiki"></app-wiki-weapon>
  </div>


</ion-content>