<ion-content class="ion-padding" [fullscreen]="true">
    <!-- Contenedor del fondo -->
    <div class="background-container">
        <img src="assets/images/backgrounds/background.jpg" alt="Monster Hunter Background">
    </div>
    <div class="content-container">
        <!-- Cambiamos la condición para incluir undefined -->
        <div *ngIf="monstersCustomList && !mostrarWiki" class="container mt-4">
            
            <button (click)="goCreate()">Click me</button>

            <div class="armor-title-container">
                <div class="armor-title">
                    <h2>Monstruos de la comunidad</h2>
                </div>
            </div>

            <div class="table-container">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let v of monstersCustomList">
                            <td>{{ v?.nombre }}</td>
                            <td>{{ v?.usuarioId }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="mostrarWiki">
            <app-wiki-custom [monsterCustom]="customWiki" (closeWiki)="closeWiki()"></app-wiki-custom>
        </div>
    </div>
    <!-- <button (click)="onDelete()">JUANKA TE LO RECUERDO AKI, ESTO SOLO VA A ELIMINAR UNA VEZ POR QUE EL ID YA NO
        ESTA</button> -->
    <!--  -->
</ion-content>