<ion-content class="ion-padding" [fullscreen]="true">
    <!-- Contenedor del fondo -->
    <div class="background-container">
        <img src="assets/images/backgrounds/background.jpg" alt="Monster Hunter Background">
    </div>
    <div class="content-container">
        <!-- Cambiamos la condición para incluir undefined -->
        <div *ngIf="monstersCustomList && !mostrarWiki" class="container mt-4">
            
            <!-- Boton Crear monstruo -->
            <div class="container mt-4 text-center">
                <button class="btn btn-success mx-2" (click)="goCreate()">Crear Nuevo Monstruo</button>
            </div>

            <div class="armor-title-container">
                <div class="armor-title">
                    <h2>Monstruos de la comunidad</h2>
                </div>
            </div>

            <div class="table-container">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let v of monstersCustomList">
                            <td>
                            <a class="hover-effect" (click)="displayWiki(v)" style="text-decoration: none; color: inherit;">
                                <img [src]="'assets/images/customs/custom.png'" width="20"
                                  style="border-radius: 8px; vertical-align: middle;">
                                <span style="margin-left: 10px;">{{ v?.nombre }}</span>
                              </a>
                            </td>
                            <td>{{ v?.usuarioId }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="mostrarWiki">
            <app-wiki-custom [monsterCustom]="customWiki" (closeWiki)="closeWiki()"></app-wiki-custom>
        </div>
    </div>
    <!-- <button (click)="onDelete()">JUANKA TE LO RECUERDO AKI, ESTO SOLO VA A ELIMINAR UNA VEZ POR QUE EL ID YA NO
        ESTA</button> -->
    <!--  -->
</ion-content>