.text-black {
  color: #000;
}
.weapon-image-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 5px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.weapon-image {
  height: 100%;
  width: auto;
  object-fit: contain;
  display: block;
}

.table-responsive-container {
  overflow-x: auto;
  width: 100%;
}

.table-responsive-container table {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #f9f9f9;
  text-align: left;
  border-collapse: collapse;
}

@media (max-width: 768px) {
  .btn {
    font-size: 0.8rem;
    padding: 5px 8px;
  }
  h2 {
    font-size: 0.9rem;
    font-weight: 600;
  }
  th {
    font-size: 0.8rem;
  }
  td {
    font-size: 0.8rem;
  }
  @media (max-width: 768px) {
    .table-responsive-container {
      overflow-x: auto;
    }
  }
}
