<!-- Información General 3 -->
<div *ngIf="infoMonster" class="container mt-4">
  <table class="table table-bordered mx-auto shadow-sm" style="width: 80%; background-color: #f9f9f9; text-align: left;">
    <!-- Fila 1: Imagen + Nombre -->
    <tr>
      <td colspan="2" class="text-center" style="border: 1px solid #ddd; padding: 15px;">
        <img [src]="'assets/images/monsters/' + infoMonster?.nombre + '.png'" alt="{{ infoMonster?.nombre }}" width="180" style="border-radius: 8px;">
        <h1 style="margin-top: 10px; color: #333;">{{ infoMonster?.nombre }}</h1>
      </td>
    </tr>
    <!-- Fila 2: Descripción -->
    <tr>
      <td>Descripción:</td>
      <td style="border: 1px solid #ddd; padding: 15px;">{{ infoMonster?.descripcion }}</td>
    </tr>
    <!-- Fila 3: Tamaño -->
    <tr>
      <td>Tamaño:</td>
      <td style="border: 1px solid #ddd; padding: 15px;">{{ infoMonster?.size }}</td>
    </tr>
  </table>
</div>

<!-- Trampas -->
<div *ngIf="infoMonster" class="container mt-4">
  <h2 style="text-align: center;">Trampas</h2>
  <table class="table table-bordered mx-auto shadow-sm" style="width: 80%; background-color: #f9f9f9; text-align: left;">
    <!-- Fila 1: Trampa escollo -->
    <tr>
      <td>Escollo:</td>
      <td style="padding: 12px; font-size: 14px;">{{ infoMonster?.trampa_escollo ? 'Sí' : 'No' }}</td>
    </tr>
    <!-- Fila 2: Trampa eléctrica -->
    <tr>
      <td>Eléctrica:</td>
      <td style="padding: 12px; font-size: 14px;">{{ infoMonster?.trampa_electrica ? 'Sí' : 'No' }}</td>
    </tr>
    <!-- Fila 3: Trampa de hiedra -->
    <tr>
      <td>Hiedra:</td>
      <td style="padding: 12px; font-size: 14px;">{{ infoMonster?.trampa_hiedra ? 'Sí' : 'No' }}</td>
    </tr>
  </table>
</div>




<!-- Filosofia -->
<div *ngIf="infoMonster?.monsterZonasHitDTO?.length > 0">
  <h2>Filosofía:</h2>
  <ul>
    <!-- Bucle -->
    <li *ngFor="let v of infoMonster.monsterZonasHitDTO">
      <p><strong>Zona de impacto:</strong> {{ v?.zonaImpacto}}</p>
      <p><strong>Corte:</strong> {{ v?.corte}}</p>
      <p><strong>Impacto:</strong> {{ v?.impacto}}</p>
      <p><strong>Disparo:</strong> {{ v?.disparo}}</p>
      <p><strong>Fuego:</strong> {{ v?.fuego}}</p>
      <p><strong>Agua:</strong> {{ v?.agua}}</p>
      <p><strong>Rayo:</strong> {{ v?.rayo}}</p>
      <p><strong>Hielo:</strong> {{ v?.hielo}}</p>
      <p><strong>Dragon:</strong> {{ v?.dragon}}</p>
      <p><strong>KO:</strong> {{ v?.ko}}</p>
    </li>
  </ul>
</div>


<!-- Vulnerabilidad de partes -->
<div *ngIf="infoMonster?.monsterBreakDTO?.length > 0">
  <h2>Vulnerabilidad de partes:</h2>
  <ul>
    <!-- Bucle  -->
    <li *ngFor="let v of infoMonster.monsterBreakDTO">
      <p><strong>Parte:</strong> {{ v?.parte || 'N/A' }}</p>
      <p><strong>Estrecimiento:</strong> {{ v?.estrecimiento || 'N/A' }}</p>
      <p><strong>Corte:</strong> {{ v?.corte || 'N/A' }}</p>
      <p><strong>Herida:</strong> {{ v?.herida || 'N/A' }}</p>
    </li>
  </ul>
</div>