<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <table class="w-100 css-table">
        <tbody>
          <tr>
            <!-- Botón de menú en la primera columna -->
            <td class="menu-button-column text-start align-middle">
              <ion-button fill="clear" (click)="toggleMenu()" class="btn-lg">
                <ion-icon slot="icon-only" name="menu-outline" class="fs-1"></ion-icon>
              </ion-button>
            </td>
            <!-- Texto "Monster Hunter" en la segunda columna -->
            <td class="monster-title-column text-center align-middle">
              <a [routerLink]="['/home']" class="title-link">Monster Hunter</a>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-toolbar>
  </ion-header>


  <!-- Menú desplegable -->
  <div [class.show]="isMenuOpen" class="side-menu">
    <ul>
      <li>
        <!-- Monsters Link -->
        <a [routerLink]="['/monsters']" class="menu-link" (click)="closeMenu()">
          <!-- <img src="assets/icon/ico-iceborne.png" class="menu-icon"/> -->
          Monsters
        </a>
      </li>
      <li>
        <!-- Weapons Link -->
        <a [routerLink]="['/weapons']" class="menu-link" (click)="closeMenu()">
          Weapons
        </a>
      </li>
      <li>
        <!-- Armor Link -->
        <a [routerLink]="['/armors']" class="menu-link" (click)="closeMenu()">
          Armors
        </a>
      </li>

      <li>
        <!-- Armor Set Link -->
        <a [routerLink]="['/armorsSet']" class="menu-link" (click)="closeMenu()">
          Armors Set
        </a>
      </li>
    </ul>
  </div>

  <ion-router-outlet></ion-router-outlet>
</ion-app>