<ion-content class="ion-padding" [fullscreen]="true">
  <!-- Contenedor del fondo -->
  <div class="background-container">
    <img src="assets/images/backgrounds/background.jpg" alt="Monster Hunter Background">
  </div>

  <div class="content-container">
    <!-- Lista de Adornos -->
    <div *ngIf="decorationsList.length > 0 && !mostrarWiki" class="container mt-4">
      <div class="d-flex justify-content-center mb-3">
        <button *ngFor="let r of [5, 6, 7, 8, 9, 10, 11, 12]" [class.selected]="selectedRarity === r"
          class="btn btn-secondary mx-1 custom-btn" (click)="filterByRarity(r)">
          Rareza {{ r }}
        </button>
      </div>

      <div class="decoration-title-container">
        <div class="decoration-title">
          <h2 class="text-center">Adornos</h2>
        </div>
      </div>

      <div class="table-container">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Rareza</th>
              <th>Ranura</th>
              <th>Habilidad 1</th>
              <th>Nivel</th>
              <th>Habilidad 2</th>
              <th>Nivel</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let v of filteredDecoration">
              <td>{{ v?.nombre }}</td>
              <td>{{ v?.rareza }}</td>
              <td>{{ v?.ranura || '---'}}</td>
              <td>{{ v?.nombreSkill1 || '---'}}</td>
              <td>{{ v?.nivelSkill1 || '---'}}</td>
              <td>{{ v?.nombreSkill2 || '---'}}</td>
              <td>{{ v?.nivelSkill2 || '---'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>