<ion-content class="ion-padding" [fullscreen]="true">

  <!-- Buscador -->

  <div class="d-flex justify-content-center my-3">
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="searchMonstersByName()"
      placeholder="Buscar monstruo por nombre"
      class="w-25">
    </ion-searchbar>
  </div>
  

  <!-- Grid de tarjetas -->

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let monster of monsters">
        <app-card-monster [monster]="monster"></app-card-monster>
      </ion-col>
    </ion-row>
  </ion-grid>  -->


  <!-- Controles de paginación -->

  <div class="d-flex justify-content-center mt-3">
    <ion-button (click)="previousPage()" [disabled]="page === 0">Anterior</ion-button>
    <ion-button (click)="nextPage()" [disabled]="page >= totalPages - 1">Siguiente</ion-button>
  </div>

  <div id="container" class="row">
    <div *ngFor="let monster of monsters" class="col-2 text-center">
      <app-card-monster [monster]="monster"></app-card-monster>
    </div>
  </div>

</ion-content>