<div class="container mt-4" style="background-color: white; padding: 20px; border-radius: 8px;">
  <div class="container mt-4 text-center">
    <button class="btn btn-secondary mx-1" (click)="reloadPage()">Volver a Recolección</button>
  </div>
  <div *ngIf="infoRecoleccion" class="container mt-4">
    <table class="table table-bordered mx-auto shadow-sm" style="width: 80%; text-align: left;">
      <!-- Nombre -->
      <tr>
        <td colspan="2" style="border: 1px solid #ddd; padding: 15px;">
          <div style="display: flex; align-items: center; justify-content: center; gap: 10px;">
            <h2 style="margin: 0; color: #333;">{{ infoRecoleccion?.nombre }}</h2>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <!-- Tabla: Objeto de la recolección -->
  <div id="Crafteo" *ngIf="infoRecoleccion?.itemBaseDTO?.length > 0 " class="container mt-4">
    <h2 class="text-black" style="text-align: center;">Objeto obtenido de la recolección</h2>
    <div class="table-responsive-container">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Objeto</th>
            <th>Categoria</th>
            <th>Rareza</th>
            <th>Precio compra</th>
            <th>Precio venta</th>
            <th>Capacidad para llevar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of infoRecoleccion.itemBaseDTO">
            <td>
              <img [src]="'assets/images/items/' + v?.nombre + '.png'" width="30"
                style="border-radius: 8px; vertical-align: middle;" (error)="handleImageError($event)">
              <span style="margin-left: 10px;">{{ v?.nombre}}</span>
            </td>

            <td>{{ v?.categoria}}</td>
            <td>{{ v?.rareza}}</td>
            <td>{{ v?.precioCompra || "---"}}</td>
            <td>{{ v?.precioVenta || "---"}}</td>
            <td>{{ v?.limiteCarga || "---"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>